* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vh;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("./assets/pic3.jpg") no-repeat center center/cover;
    filter: blur(4px);
    z-index: -1;
}

h1 {
    font-size: 3.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgb(255, 252, 252);
}
h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: 1px 1px 4px rgb(255, 252, 252);
}